.row {
    margin-left: 20px;
}

.row_posters{
    /*puts them side by side*/
    display: flex;
    /*hide scroll on vertically*/
    overflow-y: hidden;
    /*scroll on horizontally*/
    overflow-x: scroll;
    padding: 20px;
}
/*dont ever display but keep functionality regardless of browser*/
.row-posters::-webkit-scrollbar {
    display: none;
}

.row_poster{
    /*Keeps the aspect ratio*/
    object-fit: contain;
    width: 100%;
    /*vertical column*/
    max-height: 100px;
    margin-right: 10px;
    /*delay*/
    transition: transform 450ms;

}

.row_poster:hover{
    transform: scale(1.08);
}

.row_posterLarge{
    max-height: 250px;
}

.row_posterLarge:hover{
    transform: scale(1.09);
}